<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body 
        {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <div>
        <img src="" alt="Avatar" class="avatar">
    </div>

    <div>
        <label for="uname"><b>Username:</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
    </div>

    <div>
        <label for="psw"><b>Password:</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
    </div>

    <div>
        <button type="submit">Login</button>
        <button type="submit">Sign up</button>
    </div>
</body>