<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body 
        {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body>
    <div>
        <h2 style= "text-align:center">Community</h2>
    </div>
    <div>
        <h3 style= "text-align:center">Post Form</h3>
    </div>


    <div>
        <label for="title"></label>
        <input type="text" placeholder="Title" name="title" required>
    </div>

    <div class="col-lg-10">
        <label for="description"></label>
        <input type="text" placeholder="Description" name="description" required>
        <textarea name="description" id="description" cols="30" rows="10" ></textarea>
    </div>
    
    <div>
        <label for="media"></label>
        <input type="file" placeholder="Enter Media" name="media" required>
    </div>

    <div>
        <button type="submit">Create Post</button>
    </div>
</body>