<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/template/css/base.css">
</head>
<body>
    <div>
        <h2 style= "text-align:center">Sign up</h2>
        <h3 style= "text-align:center">For Free</h3>
    </div>

    <div>
        <label for="name"></label>
        <input type="text" placeholder="Name" name="name" required>
    </div>

    <div>
        <label for="suname"></label>
        <input type="text" placeholder="Surname" name="suname" required>
    </div>
    
    <div>
        <label for="uname"></label>
        <input type="text" placeholder="Username" name="uname" required>
    </div>

    <div>
        <label for="email"></label>
        <input type="text" placeholder="Email" name="email" required>
    </div>

    <div>
        <label for="email-repeat"></label>
        <input type="text" placeholder="Confirm Email" name="email-repeat" required>
    </div>

    <div>
        <label for="psw"></label>
        <input type="password" placeholder="Password" name="psw" required>
    </div>

    <div>
        <label for="psw-repeat"></label>
        <input type="password" placeholder="Confirm Password" name="psw-repeat" required>
    </div>

    <div>
        <button type="submit">Create Account</button>
    </div>
</body>