<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/template/css/base.css">
</head>
<body >
    <div>
        <div>
            <img src="" alt="news1" style="width:100%" >
            <h2 style= "text-align:left"> Latest Update</h2>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <button type="submit">Read More</button>
        </div>
    
        <div>
            <img src="" alt="news2" style="width:100%" >
            <h2 style= "text-align:left">Older Update</h2>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <button type="submit">Read More</button>
        </div>

        <div>
            <img src="" alt="news3" style="width:100%" >
            <h2 style= "text-align:left">Older Update</h2>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <button type="submit">Read More</button>
        </div>

        <div>
            <img src="" alt="news4" style="width:100%" >
            <h2 style= "text-align:left">Older Update</h2>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <button type="submit">Read More</button>
        </div>
    </div>
</body>